{% extends "_base.html" %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="max-w-sm w-full bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl font-bold text-center mb-5">Log In</h2>
        <form method="post" class="mb-4">
            {% csrf_token %}
            
            <!-- Username Field -->
            <div class="mb-5">
                <label for="{{ form.username.id_for_label }}"
                       class="block mb-2 text-sm font-medium text-black">Your username</label> <!-- Changed to text-black -->
                {{ form.username|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
            </div>

            <!-- Password Field -->
            <div class="mb-5">
                <label for="{{ form.password.id_for_label }}"
                       class="block mb-2 text-sm font-medium text-black">Your password</label> <!-- Changed to text-black -->
                {{ form.password|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
            </div>

            <!-- Submit Button -->
            <div class="flex justify-center"> <!-- Center the button -->
                <button type="submit" class="text-black bg-[#60A9B4] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Log In</button>
            </div>
        </form>

        <!-- Sign Up Link -->
        <div class="mt-4 text-center">
            <p class="text-sm text-gray-600 dark:text-gray-400">
                If you don't have an account, you can <a href="{% url 'signup' %}" class="text-blue-600 hover:underline dark:text-blue-500">sign up here</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
