{% extends "_base.html" %}
{% load widget_tweaks %}

{% block title %}Change password{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="max-w-sm w-full bg-white shadow-md rounded-lg p-6"> <!-- Added background and padding -->
        <h2 class="text-2xl font-bold text-center mb-5">Change password</h2>
        <form method="post" class="mb-4">
            {% csrf_token %}

            <!-- Old Password -->
            <div class="mb-5">
                <label for="{{ form.old_password.id_for_label }}" class="block mb-2 text-sm font-medium text-black">Your old password</label> <!-- Changed to text-black -->
                {{ form.old_password|add_class:"shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" }}
            </div>

            <!-- New Password -->
            <div class="mb-5">
                <label for="{{ form.new_password1.id_for_label }}" class="block mb-2 text-sm font-medium text-black">Your new password</label> <!-- Changed to text-black -->
                {{ form.new_password1|add_class:"shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" }}
            </div>

            <!-- Confirm Password -->
            <div class="mb-5">
                <label for="{{ form.new_password2.id_for_label }}" class="block mb-2 text-sm font-medium text-black">Confirm your new password</label> <!-- Changed to text-black -->
                {{ form.new_password2|add_class:"shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" }}
            </div>

            <!-- Submit Button -->
            <div class="flex justify-center"> <!-- Center the button -->
                <button type="submit" class="text-black bg-[#60A9B4] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Change password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
