{% block content %}
    <div class="flex items-center justify-between mt-2">
        <form class="like-form flex items-center" data-post-id="{{ post.id }}" method="POST">
            {% csrf_token %}
            <button type="submit" class="px-3 py-2 bg-transparent text-white flex items-center">
                {% if post.id in liked_posts %}
                    <i class="fas fa-thumbs-up text-white text-2xl"></i>
                {% else %}
                    <i class="far fa-thumbs-up text-white text-2xl"></i>
                {% endif %}
                <span class="ml-2">{{ post.no_of_likes }}</span>
            </button>
        </form>
    </div>
{% endblock %}