<!-- templates/_base.html -->
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet"/>

    <title>{% block title %}Social Media App{% endblock %}</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body style="background-color: #60A9B4;">
<!-- Add jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // When the like button is pressed, prevent the form from being submitted in the usual way
        $('.like-form').submit(function (e) {
            e.preventDefault();  // Prevent the form from reloading the page

            const form = $(this);  // Reference to the current form
            const post_id = form.data('post-id');  // Get the post_id from the data attribute
            const csrf_token = form.find('input[name="csrfmiddlewaretoken"]').val();  // Get the CSRF token

            // Start AJAX request
            $.ajax({
                type: 'POST',
                url: "{% url 'ajax_like_post' %}",  // Django URL for the like/unlike action
                data: {
                    'post_id': post_id,
                    'csrfmiddlewaretoken': csrf_token,
                },
                success: function (response) {
                    // Process the response: Update the like/unlike button and the number of likes
                    const likeButton = form.find('button');
                    const likesCount = form.next('.likes-count');  // The likes count next to the form

                    if (response.liked) {
                        likeButton.text('Unlike');  // Change the text to 'Unlike' if the user has liked the post
                    } else {
                        likeButton.text('Like');  // Change the text to 'Like' if the user has unliked the post
                    }

                    // Update the number of likes
                    likesCount.text(response.no_of_likes + ' likes');
                },
                error: function (response) {
                    console.error('Error:', response);  // Log any errors
                }
            });
        });
    });
</script>
<!-- Navbar -->
<nav class="fixed top-0 z-50 w-full border-b border-gray-200 dark:border-gray-700" style="background-color: #93CDDE;">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
                        type="button"
                        class="inline-flex aspect-square justify-center  text-2xl text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    ☰
                </button>
                <a href="{% url 'foryoupage' %}" class="flex ms-2 md:me-24">
                    <img src="/media/logo.png" class="h-12 me-3" alt="Logo"/>
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Social Media App</span>
                </a>
            </div>
            <div class="flex items-center">
                <div class="flex items-center ms-3">
                    {% if user.is_authenticated %}
                        <div>
                            <button type="button"
                                    class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                                    aria-expanded="false" data-dropdown-toggle="dropdown-user">
                                <span class="sr-only">Open user menu</span>
                                <img class="w-8 h-8 rounded-full"
                                     src="{{ user.profile.profile_img.url|default:'/media/blank-profile-picture.png' }}"
                                     alt="user photo">
                            </button>
                        </div>
                        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                             id="dropdown-user">
                            <div class="px-4 py-3" role="none">
                                <p class="text-sm text-gray-900 dark:text-white" role="none">
                                    {{ user.username }}
                                </p>
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                                    {{ user.email }}
                                </p>
                            </div>
                            <ul class="py-1" role="none">
                                <li>
                                    <a href="{% url 'profile' user.username %}"
                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white text-center"
                                       role="menuitem">Account</a>
                                </li>
                                <li>
                                    <form id="logout-form" action="{% url 'logout' %}" method="POST"
                                          style="display: none;">
                                        {% csrf_token %}
                                    </form>
                                    <button type="button"
                                            class="block w-full px-4 py-2 text-sm text-red-500 hover:bg-red-100 dark:text-red-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                            onclick="document.getElementById('logout-form').submit();">
                                        Sign out
                                    </button>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Sidebar -->
<aside id="logo-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full border-r border-gray-200 sm:translate-x-0 dark:border-gray-700"
       style="background-color: #93CDDE;" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="{% url 'foryoupage' %}"
                   class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <span class="ms-3">Home</span>
                </a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' user.username %}"
                       class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="flex-1 ms-3 whitespace-nowrap">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/accounts/password_reset/"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                       role="menuitem">Reset password</a>
                </li>
                <li>
                    <a href="/accounts/password_change/"
                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                       role="menuitem">Change password</a>
                </li>
                <li>
                    <a href="{% url 'create_post' %}"
                       class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="flex-1 ms-3 whitespace-nowrap">Add Post</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</aside>

<!-- Main Content Area -->
<div class="pb-4 px-4 sm:ml-64 pt-[4.5rem]">
    {% block content %}
    {% endblock content %}
</div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>
