{% extends "_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}For You Page{% endblock %}

{% block content %}
    <form method="GET" class="mb-4">
        <div class="flex items-center justify-center pt-4">
            <button id="dropdownDefault" data-dropdown-toggle="dropdown"
                    class="max-w-fit text-white justify-center bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                    type="button">
                Filter Categories
                <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdown" class="z-10 hidden w-56 p-3 text-center bg-white rounded-lg shadow dark:bg-gray-700">
                <h6 class="mb-3 text-sm text-gray-900 dark:text-white">
                    Category
                </h6>
                {% if categories|length == 0 %}
                    <p class="text-gray-900 dark:text-white text-sm">
                        No Categories yet.
                    </p>
                {% endif %}
                <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault" id="categories">
                    {% for category in categories %}
                        <li class="flex items-center">
                            <input id="category_{{ category.id }}" type="checkbox" name="categories"
                                   value="{{ category.id }}"
                                    {% if category.id|stringformat:"s" in checked %}
                                   checked="checked"
                                    {% endif %}
                                   class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"/>

                            <label for="category_{{ category.id }}"
                                   class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                                {{ category.category_name }}
                            </label>
                        </li>
                    {% endfor %}
                    <li class="justify-center flex items-center">
                        <button type="submit"
                                value="Filter"
                                class="px-2 py-1 bg-[#60A9B4] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-gray-900 dark:text-white">
                            Filter
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    {% for post in page_obj %}
        <a class="border-4 border-gray-400 z-10 bg-gray-50 p-4 my-4 flex flex-col md:aspect-video rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <!-- User Info Section -->
            <div class="basis-1/4 lg:basis-1/6 flex flex-row justify-between items-center mb-1">
                <div class="flex flex-col h-full">
                    <div onclick="location.href='{% url 'profile' post.user.username %}'" class="cursor-pointer grow flex flex-row items-center">
                        <img class="w-1/12 h-auto aspect-square rounded-full object-cover"
                             src="{{ post.user.profile.profile_img.url|default:'/media/blank-profile-picture.png' }}"
                             alt="User Image">
                        <h4 class="mx-4 text-lg font-semibold text-gray-900 dark:text-white">{{ post.user.username }}</h4>
                    </div>
                    <div class="flex grow items-center mt-1">
                        <p class="text-lg dark:text-white me-2">Categories:</p>
                        {% for categoryPost in categoryPosts %}
                            {% if categoryPost.post.id == post.id %}
                                <div class="text-xs p-1 md:text-base lg:text-lg rounded bg-blue-100 m-1 ms-0">
                                    {{ categoryPost.category.category_name }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <button class="min-w-fit justify-end px-3 py-1 bg-gray-300 text-gray-700 rounded hover:bg-gray-400 dark:bg-gray-700 dark:text-white">
                    Report
                </button>
            </div>

            <!-- Post Info Section -->
            <div class="flex md:flex-row flex-col basis-3/4 lg:basis-5/6 w-auto flex-grow h-full" id="post info">
                <!-- Post Image and Title -->
                <div class="basis-1/2 h-full flex flex-col md:mr-4">
                    <img onclick="location.href='{% url 'post_detail' post.id %}'" class="cursor-pointer min-h-0 grow max-h-full object-cover rounded-lg"
                            {% if post.image %}
                         src="{{ post.image.url }}"
                            {% else %}
                         src="/media/post_images/blank-post-picture.png"
                            {% endif %}
                         alt="Post Image">
                        {% include 'Like/Like.html' %}
                    <h2 onclick="location.href='{% url 'post_detail' post.id %}'" class="cursor-pointer min-h-fit py-2 text-xl font-bold text-gray-900 dark:text-white content-center overflow-y-auto text-ellipsis">{{ post.caption }}</h2>
                </div>

                <!-- Comments Section -->
                <div class="basis-1/2 h-full flex flex-col md:ml-4 overflow-y-auto object-scale-down md:max-h-full max-h-48"
                     id="comments">
                    <div class="h-full text-gray-700 dark:text-gray-400 relative">
                        <ol class="h-full relative">
                            {% for comment in comments %}
                                {% if post.id == comment.post.id %}  <!-- Fixed to use `post.id` -->
                                    <li class="relative flex flex-row grow content-center items-center pb-10">
                                        <div class="z-0 absolute top-0 bottom-0 inset-9 w-1 border-s border-gray-200 dark:border-gray-700 text-transparent"></div>
                                        <div class="aspect-square object-scale-down z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-8 ring-white mx-6 dark:ring-gray-900 dark:bg-blue-900">
                                            <img class="rounded-full shadow-lg"
                                                 src="/media/blank-profile-picture.png"
                                                 alt="Profile picture"/>
                                        </div>
                                        <div class="grow items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600">
                                            <time class="mb-1 text-xs font-normal text-gray-400">
                                                {{ comment.comment_date }}
                                            </time>
                                            <div class="text-sm font-normal text-gray-500 dark:text-gray-300">
                                                {{ comment.comment }}
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>

        </a>
    {% endfor %}

    {% if page_obj.paginator.count > 0 %}
        <div class="flex flex-col items-center">
            <span class="text-sm text-gray-700 dark:text-white">
                Showing <span class="font-semibold text-gray-900">{{ page_obj.start_index }}</span> to <span
                    class="font-semibold text-gray-900">{{ page_obj.end_index }}</span> of <span
                    class="font-semibold text-gray-900">{{ page_obj.paginator.count }}</span> Entries
            </span>
            {% if page_obj.paginator.num_pages > 1 %}
                <div class="inline-flex mt-2">
                    <a class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}{{ page_obj.start_index }}{% endif %}">
                        <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 5H1m0 0 4 4M1 5l4-4"></path>
                        </svg>
                        Prev
                    </a>
                    <a class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}{{ page_obj.end_index }}{% endif %}">
                        Next
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M1 5h12m0 0-4 4m4-4-4-4"></path>
                        </svg>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
