{% extends '_base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div>
        <h1>Create a Post</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div>
                <label for="caption" >Caption:</label>
                <textarea id="caption" name="caption" rows="4" ></textarea>
            </div>
            
            <div>
                <label for="image" >Image (optional):</label>
                <input type="file" id="image" name="image" >
            </div>
            
            <button type="submit">Post</button>
        </form>

        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}